.about {
    margin-top: 8rem;
    width: 100%;
}

.about-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-content {
    gap: 2rem;
}

.about-left {
    width: 50%;
    float: left;
}

.about-left .headline-title h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.about-right {
    /* width: 50%; */
    float: right;
}

.about-image {
    width: 580px;
    height: 430px;
    border-radius: 8px;
    overflow: hidden;
}

.about-image img {
    width: 100%;
    height: 100%;
}

@media (max-width : 768px) {
    .about-wrapper {
        width: 100%;
        display: flex;
        justify-content: start;
    }
    /* .about-right {
        display: none;
    } */

    .about-left {
        width: 100%;
        padding: 2rem;
    }
}

